{% extends 'userTests/base.html' %}

{% load static %}

{% block title %} Real-Time Chat {% endblock title %}


{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/stylees.css' %}">
{% endblock css %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>






    <h1 align="center" class="mb-5"> Real-Time Chat with {{ receiver_username }}</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Chat
                    </div>

                    <div id="notification-container">
                        {% if notif %}
                            <div class="notification">{{ notif.notification }}</div>
                        {% endif %}
                    </div>
                    

                    <div class="card-body">
                        <div class="chat-log" id="chat-log">
                            {% for message in messages %}
                                {% if message.sender == user %}
                            <div class="message sent-message">
                                <span class="message-content">{{ message.message_content }}</span>
                                <span class="message-info">{{ user.username }} - {{ message.date_created|date:"DATETIME_FORMAT" }} <i class="fa-solid fa-chevrons-right"></i></span>
                            </div>
                                {% else %}
                            <div class="message received-message">
                                <span class="message-content">{{ message.message_content }}</span>
                                <span class="message-info">{{ receiver_username }} - {{ message.date_created|date:"DATETIME_FORMAT" }} <i class="fa-solid fa-chevrons-right"></i></span>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="input-group mt-3">
                            <input id="chat-message" class="form-control" type="text" placeholder="Votre message ici...">
                            <div class="input-group-append">
                                <button onclick="sendMessage()" class="btn btn-primary" type="button">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {{receiver.username |json_script:"json-receiverUsername"}} 
    {{ user.username  | json_script:"json-sender"}} -->
    
    <script>
        const receiverUsername = '{{ receiver_username }}';
        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${receiverUsername}/`);
    
        chatSocket.onopen = function(event) {
            console.log('La connexion WebSocket est établie !');
        };
    
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log('Received data:', data);
            const message = data.message;
            const sender = data.sender;
            const receiver = data.receiver;
            console.log('Received message:', message);
            console.log('Sender:', sender);
            console.log('Receiver:', receiver);
    
            // Afficher le message dans l'interface utilisateur du destinataire
            const messageElement = document.createElement('div');
            messageElement.textContent = `${sender}: ${message}`;
            document.getElementById('chat-log').appendChild(messageElement);


            //Notification affichage
            if (notification) {
        const notificationContainer = document.getElementById('notification-container');
        const notificationDiv = document.createElement('div');
        notificationDiv.classList.add('notification');
        notificationDiv.innerText = notification;
        notificationContainer.appendChild(notificationDiv);
    }

        };
    
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        function sendMessage() {
            const messageInput = document.querySelector('#chat-message');
            const message = messageInput.value;
            const sender = '{{ user.username }}'; 
            const receiver = '{{ receiver_username }}'; 
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': sender,
                'receiver': receiver,
            }));
    
            messageInput.value = '';
        }
        

    function fetchMessages() {
        jQuery.ajax({
            type: 'GET',
            url: `/get_messages/${receiverUsername}/`, // l'URL correspondant à notre vue Django pour récupérer les messages
            success: function (data) {
                // Supprimez les messages actuels affichés dans la boîte de chat
                document.getElementById('chat-log').innerHTML = '';

                // Parcourir les messages reçus via AJAX et les afficher dans la boîte de chat
                data.messages.forEach(function (message) {
                    const messageElement = document.createElement('div');
                    messageElement.textContent = `${message.sender}: ${message.message_content}`;
                    document.getElementById('chat-log').appendChild(messageElement);
                });

                // Répéter le processus toutes les quelques secondes pour obtenir les nouveaux messages
                setTimeout(fetchMessages, 1000); // Répéter toutes les 3 secondes (vous pouvez ajuster l'intervalle selon vos besoins)
            },
            error: function () {
                // En cas d'erreur, attendre un court moment puis réessayer
                setTimeout(fetchMessages, 1000); // Réessayer après 1 seconde en cas d'erreur
            }
        });
    }

   
    fetchMessages();
</script>

    
{% endblock %}
