{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/stylees.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Dashboard </title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <p class="navbar-brand text-md-start" href="#">Dashboard </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'accueil'  %}">Accueil</a>
              </li>
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="helpAsking">Demandes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="logout">Se deconnecter</a></li>
              </ul>
            </li>
          </ul>
        </div>
     
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row flex-nowrap">
          <div class="col-auto px-0">
              <div id="sidebar" class="collapse collapse-horizontal show border-end vh-100 shadow-sm">
                  <div id="sidebar-nav" class="list-group border-0 rounded-0">
                      <div class="p-2">
                        Bienvenue <h4 class="text-uppercase">{{user.username}}</h4>
                      </div>
                      <form class="d-flex p-2">
                          <input class="form-control me-2 shadow-none" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-danger" type="submit">Search</button>
                      </form>
                      <ul class="list-group">
                          <li class="list-group-item">
                            <a href="#" class="text-decoration-none text-black">
                                  Dashboard</a></li>
                          <li class="list-group-item"> <a href="{% url 'accueil' %}"
                                  class="text-decoration-none text-black">Home</a> </li>
                          <li class="list-group-item"> <a href="helpAsking"
                                  class="text-decoration-none text-black">Demandes</a> </li>
                          <li class="list-group-item active bg-danger" aria-current="true">
                             <a href="#" class="text-decoration-none text-white">Inbox</a> </li>
                        <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Settings </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="helpAsking">Demandes</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="logout">Se deconnecter</a></li>
                            </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-dark text-uppercase mb-2">Informations sur les demandes d'aides</h4>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-warning-subtle rounded d-flex align-items-center justify-content-between p-4">
                         <i class="fa-solid fa-hands-holding fa-2xl" style="color: #ff0000;"  > </i>
                        <div class="ms-3">
                            <p class="mb-2 mx-auto">Nombre de demandes reçues :</p>
                            <h6 class="mb-2 mx-auto text-dark ">{{ nombre_demandes }}</h6>
                        </div>
                    </div>
                </div>
       
              <div class="col-sm-6 col-xl-3">
                <div class="bg-info-subtle rounded d-flex align-items-center justify-content-between p-4">
                  <i class="fa-solid fa-handshake fa-2xl" style="color: #008000;"></i>
                    <div class="ms-3">
                        <p class="mb-2 mx-auto">Nombre de demandes prises en charge : </p>
                        <h6 class="mb-0">{{ nombre_demandes_prises_en_charge }}</h6>
                    </div>
                </div>
            </div>
        </div>
          </div>
        </div>
        
          <hr>
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Area Chart Example
              </div>
              <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Area Chart Example
              </div>
              <div class="card-body">
                <canvas class="chart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
      </div>
      </div>
      <hr>
              <br><br>

        <div class="row">
          <div class="col-md-9   mb-3">
            <div class="card">
              <div class="card-header">
                <span class="text-danger"><i class="bi bi-table me-2"></i></span>Demandes Reçues </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div class="row">
        {% for aide in demandes %}
        <div class="col-md-4 py-sm-3  mb-3">
            <div class="card border-danger-subtle shadow ms-sm-3 h-100 ">
              <div class="card-body bg-transparent">
                <p class="card-text"> <u class="text-uppercase"><b>Types:</b> </u> {{aide.category.name}}</p>
                <p class="card-text"> <u class="text-uppercase"><b>Text:</b> </u> {{aide.context}}</p>
                {% if aide.facture %}
                <p class="card-text"> <u class="text-uppercase"><b>facture: </b> </u> 
                  <a href="{{ aide.facture.url }}" class="text-decoration-none" download> Télécharger le fichier </a></p>
                {% endif %}
              </div>
      
              {% if aide.support == True %}
              <span class="badge bg-success">Pris en charge <i class="fas fa-check-circle me-1"></i> par : <b class="text-uppercase">{{ aide.association.user.username }}</b></span>

              {% elif  aide.IsArnaque == True %}
              <span class="badge bg-warning">Possible Arnaque <i class="fa-solid fa-triangle-exclamation"></i></span>

              {% else %}
                <div class="dropdown position-absolute end-0" >
                  <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                  <ul class="dropdown-menu">
                    <li>
                      <form action="{% url 'priseEnCharge' aide.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger btn-sm" type="submit" name="support" value="{{aide.id}}" {% if user.is_association and user.association != None %} {% if user.association == aide.association %}disabled{% endif %}{% endif %}>Prendre en charge</button>
                      </form>
                    </li>
                    <li>
                      <form action="{% url 'signalerArnaque' aide.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-warning btn-sm" type="submit" name="signaler_arnaque" value="{{aide.id}}" {% if user.is_association and user.association != None %} {% if user.association == aide.signalement_arnaque %}disabled{% endif %}{% endif %}>Signaler arnaque <i class="fa-solid fa-skull-crossbones"></i></button>
                      </form>
                    </li>
                  </ul>
                </div>
              {% endif %}
            </div>
        </div>
        
                                  {% if aide|length > 6  %}
                                    <div class="row">
                                      <div class="col-md-12 text-center">
                                        <a href="helpAsking"> Voir toutes les demades </a>
                                      </div>
                                    </div>
                                    {% endif %}
        {% endfor %}
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>



    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/script2.js' %}"></script>
  </body>
</html>
