{% extends 'userTests/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block title %} Demande aide {% endblock %}

  {% block content %}
  <br>
    <h1 align="center"> <u>Demande d'aide</u> </h1><br><br>
      
    <div class="container" id="secondForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
  <form method="POST" action="{% url 'demande_aide' %}" enctype="multipart/form-data">

    {% csrf_token %}

      <div class="mb-4">
  <label for="exampleFormControlInput1" class="form-label m-4"> <b>Type d'aide</b> </label>
  <select id="form3Example6c" class="form-controle w-auto" name="category" required>
    {% for category in categorie%}
  <option value="{{ category.name}}">{{ category.name}}</option>
  {% endfor %}
  </select>
</div>
<div class="mb-4">
  <label for="exampleFormControlTextarea1" class="form-label"> <b>Exprimer votre besoin ici</b> </label>
  <textarea class="form-control" name="text" id="exampleFormControlTextarea1" required></textarea>
</div>
<div class="mb-4">
    <label for="formFileMultiple" class="form-label"> <b>Télécharger une facture, Ordonnance, Devis etc...</b> </label>
    <input class="form-control" type="file" name="thumbnail" id="formFileMultiple" accept="image/*,application/pdf" multiple>
  </div>
  <div class="col-12 text-center" id="buton2">
    <button type="submit" class="btn btn-danger"> <b>Validez</b><i class="fa-sharp fa-solid fa-paper-plane-top"></i></button>
  </div> 
  </form>
</div>
      </div>
    </div>
{% endblock %}
