{% extends 'userTests/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock css %}


{% block content %}
<h1 align="center"class="fw-bolder"> Demandes </h1>
<div class="container">
    <div class="row">
        {% for  aide in aides %}
        <div class="col-md-4 py-sm-3 mb-3">
            <div class="card border-danger-subtle shadow ms-sm-3 h-100 pb-lg-4 py-sm-1">
              <div class="card-body">
                <p class="card-text"><u class="text-uppercase text-danger fw-bolder">Types: </u>{{aide.category.name}}</p>
                <p class="card-text"> <u class="text-uppercase text-danger fw-bolder">Text : </u> {{aide.context}}</p>
                {% if aide.facture %}
                <p class="card-text"><u class="text-uppercase text-danger fw-bolder">facture: </u> <a href="{{ aide.facture.url }}" download> Télécharger le fichier </a></p>
                {% endif %}
              </div>
              {% if aide.support == True %}
              <a href="#" class="btn btn-primary" value="{{aide.support}}">deja pris en charge</a>
              {% else %}
              <a href="#" class="btn btn-danger disabled">Prise en charge</a>
              {% endif %}
            </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>

{% endblock %}
</html>