{% extends 'userTests/base.html' %}
{% load static %}



{% block content %}

<center><h1>Modifier Profile</h1></center>

    <div class="container bootstrap snippets bootdey">
          <hr>
        <div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar" >
              <h6>Change le photo...</h6>
              
              <input type="file" class="form-control" accept="image/*" >
            </div>
          </div>
          
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a> 
              <i class="fa fa-coffee"></i>
              This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Infos Association</h3>
            
            <form  method="POST"  class="form-horizontal edit" role="form" action="{% url 'edit_profil' assos.id %}" enctype="multipart/form-data">
              {% csrf_token %}
            
              <div class="form-group">
                <label class="col-lg-3 control-label">Nom Association:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" value="{{ assos.user.username }}" name="name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Numero Association:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="number" value="{{ assos.numero }}" name="contact">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Address:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" value="{{ assos.address }}" name="address">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Récépissé Association</label>
                <div class="col-lg-8">
                  <input type="file" class="form-control" name="docRecepiss" accept="application/pdf">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="email" value="{{ assos.email }}" name="email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Categorie Association:</label>
                <div class="col-lg-8">
                  <select class="form-control" name="category">
                    <option selected disabled>Select category</option>
                    {% for category in categorie %}
                    <option value="{{ category.name }}" {% if category.name == assos.category.name %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Mot de passe actuel:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="password" value="" name="PastPassword">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Nouveau mot de passe:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="password" value="" name="password">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Entrez à nouveau le mot de passe:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="password" value="" name="repassword">
                </div>
              </div>
              <div class="col m-3">
                <button type="submit" class="btn btn-primary btn-lg">
                  Sauvegarder les modifications
                </button>
              </div>
            </form>
            
          </div>
      </div>
    </div>
    <hr>
    {% endblock %}
