{% extends 'userTests/base.html' %}
{% load static %}


{% block title %} Ajout actualite {% endblock %}

  {% block content %}
  <br>
      
<h1 align="center"> Ajoutez une actualité </h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST" action="{% url 'getNews' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
          <label for="exampleFormControlInput1" class="form-label"><b>Titre</b></label>
          <input type="text" class="form-control" name="titre" id="exampleFormControlInput1" maxLength="60" placeholder="Entrez un titre" required>
        </div>
        <div class="mb-4">
          <label for="exampleFormControlTextarea1" class="form-label"><b>Texte de l'article</b></label>
          <textarea class="form-control linebreaksbr" name="text" id="exampleFormControlTextarea1" required></textarea>
        </div>
        <div class="mb-4">
          <label for="formFileMultiple" class="form-label"><b>Ajoutez des images</b></label>
          <input class="form-control" type="file" name="thumbnail" id="formFileMultiple" accept="image/*" multiple>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-danger"><b>Valider</b> <i class="fa-sharp fa-solid fa-paper-plane-top"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}