{% extends 'userTests/base.html' %}

  {% block content %}
    <h1 align="center"> <u>Actualités</u> </h1><br><br>
      
<h1 align="center"> Ajoutez une actualité </h1>
<div class="container-fluid"  id="formActu">
  <form method="Post" action="{% url 'getNews' %}" enctype="multipart/form-data">

    {% csrf_token %}

      <div class="mb-4">
  <label for="exampleFormControlInput1" class="form-label"> <b>Titre</b> </label>
  <input type="text" class="form-control" name="titre" id="exampleFormControlInput1" placeholder="entrez un titre" required>
</div>
<div class="mb-4">
  <label for="exampleFormControlTextarea1" class="form-label"> <b>Texte de l'article</b> </label>
  <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3" required></textarea>
</div>
<div class="mb-4">
    <label for="formFileMultiple" class="form-label"> <b>Ajoutez des images</b> </label>
    <input class="form-control" type="file" name="thumbnail" id="formFileMultiple" multiple>
  </div>
  <div class="col-12" id="buton2">
    <button type="submit" class="btn"> <b>Validez</b><i class="fa-sharp fa-solid fa-paper-plane-top"></i></button>
  </div> 
  </form>
</div>

{% endblock %}
