{% extends 'userTests/base.html' %}
{% load static %}
    
{% block title %} Search Page {% endblock title %}
    {%  block content%}

    
    <h1 align="center"> <u>Resultats Recherche</u> </h1>
<br><br>
<div class="container-fluid justify-content-center">
    <ul>
      <li> <p> Le resultat de la recherche sur  <b> {{ search_query }}</b></p></li>
        {% for assoss in associations %}
        <div class="container">
          <div class="row">   
            <div class="col-md-4">
              <div class="card border-danger-subtle shadow">
                <div class="card-body">
                  <h2 class="card-title text-bg-danger text-uppercase ms-2"> <u>Nom Association:</u> {{assoss.user}}</h2>
                  <p class="card-text"> <u>Email: </u> {{assoss.email}}</p>
                  <p class="card-text"> <u>Numero:</u>  {{assoss.numero}}</p>
                  <p class="card-text"> <u>Address:</u>  {{assoss.address}}</p>
                  <p class="card-text"><b><u>Activité Principale: </u></b>{{assoss.category}}</p>
                  <!-- <p class="card-text"><b> <u>Activité Secondaire: </u> </b>{{assoss.activiteSecondaire}}</p>
                  <p class="card-text"><b> <u>Autres activités:</u> </b>{{assoss.activiteThird}}</p>
                </div>   -->
              </div>
            </div>
          </div>
        </div>
<br><br>
<hr>
      {% empty %}
        <li> <h3>Aucun résultats à votre recherche .</h3> </li>

      {% endfor %}

    </ul>
</div>
    {%  endblock %}

