{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

<nav>
  <div class="navbar navbar-expand-lg pt-4">
      <div class="container-fluid">
          <a href="{% url 'accueil' %}" class="img-fluid "> <img src="static/images/logo1.png" width="100" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa-solid fa-right-to-bracket"></i>
          </span>
      </button>
      
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul id="nav-length" class="navbar-nav justify-content-between border-top border-2 text-center">
                  <!-- <li class="nav-item">
                      <a href="#" class="nav-link border-hover py-2 text-dark">Home</a>
                  </li> -->
                  <li class="nav-item">
                      <a href="{% url 'associations' %}" class="nav-link border-hover py-2 text-dark">Associations</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a href="news" class="nav-link border-hover py-2 text-dark">Ajouter une actualité</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a href="#" class="nav-link border-hover py-2 text-dark">Agir</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link border-hover py-2 text-dark">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link border-hover py-2 text-dark">Contact Us</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a href="logout" class="nav-link border-hover py-2 text-dark">Se deconnecter</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="user_login" class="nav-link border-hover py-2 text-dark">Se connecter</a>
              </li>
                  <li class="nav-item">
                      <a href="register" id="sign-in" class="nav-link my-2 px-4 text-white">S'inscrire</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </div>
</nav>
</head>
<body>
    
    {%  block content%}
    <h1 align="center"> <u>Resultats Recherche</u> </h1>
<br><br>
<div class="container-fluid justify-content-center">
    <ul>
      <li> <p> Le resultat de la recherche sur  <b> {{ search_query }}</b></p></li>
        {% for assoss in associations %}
        <div class="container">
          <div class="row">   
            <div class="col-md-4">
              <div class="card border-danger-subtle shadow">
                <div class="card-body">
                  <h2 class="card-title text-bg-danger text-uppercase"> <u>Nom Association:</u> {{assoss.user}}</h2>
                  <p class="card-text"> <u>Email: </u> {{assoss.email}}</p>
                  <p class="card-text"> <u>Numero:</u>  {{assoss.numero}}</p>
                  <p class="card-text"> <u>Address:</u>  {{assoss.address}}</p>
                  <p class="card-text"><b><u>Activité Principale: </u></b>{{assoss.category}}</p>
                  <!-- <p class="card-text"><b> <u>Activité Secondaire: </u> </b>{{assoss.activiteSecondaire}}</p>
                  <p class="card-text"><b> <u>Autres activités:</u> </b>{{assoss.activiteThird}}</p>
                </div>   -->
              </div>
            </div>
          </div>
        </div>
<br><br>
<hr>
      {% empty %}
        <li> <h3>Aucun résultats à votre recherche .</h3> </li>

      {% endfor %}

    </ul>
</div>
    {%  endblock %}


</body>
</html>